<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="guestLayout">
    
  <head>
    <title>Login</title>
  </head>

  <body>

    <div layout:fragment="content">

      <div th:if="${param.error}">
            Invalid Email and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> Email : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Login"/></div>
        </form>
        <div>New User? <a th:href="@{/registration}">Register</a></div>

    </div><!-- /.container -->

  </body>
</html>