<br />
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Navigation Menu</div>
			<div class="list-group">
				<a ui-sref="admin.tags" 	class="list-group-item">Tags</a> 
				<a ui-sref="admin.posts"	class="list-group-item">Posts</a> 
				<a ui-sref="admin.comments" class="list-group-item">Comments</a> 
				<a ui-sref="admin.emailSubscribers" class="list-group-item">Email Subscribers</a> 
				<a ui-sref="admin.settings" class="list-group-item">Settings</a> 
				<a ui-sref="admin.statistics" class="list-group-item">Statistics</a>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div ui-view=""></div>
	</div>
</div>
