

#wrapper{
   width:900px;
   margin:0 auto;
   text-align:left;
}

.header {
    height:40px;
    font-size: 25px;
}

.ui-widget {
    font-size: 12px !important;
}

.table-align-top td
{
	vertical-align: top;
}

.ui-picklist-list {
	height:100px !important;
	width:200px !important;
}