<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="guestLayout">
    <head>
        <title>Registration</title>
    </head>
    <body>
        <div layout:fragment="content">
	        <form th:action="@{/registration}" method="post">
	            <div><label> Name : <input type="text" name="name"/> </label></div>
	            <div><label> Email : <input type="text" name="email"/> </label></div>
	            <div><label> Password: <input type="password" name="password"/> </label></div>
	            <div><input type="submit" value="Register"/></div>
	        </form>
        </div>
    </body>
</html>